<mat-tab-group id="projects">
    <mat-tab label="Meus">
        <div class="container">
            <div id="myProjects" class="all-projects row">
                <div class="col-md-12">
                    <div *ngFor="let project of projects">
                        <div class="project-card card horizontal row">
                            <div class="project-logo card-image col-sm-12 col-md-3 col-lg-4">
                                <img src="../assets/images/yellow.jpg">
                            </div>
                            <div class="card-stacked col-sm-12 col-md-9 col-lg-8">
                                <div class="card-content">
                                    <span class="card-title">{{project.title}}</span>
                                    <p>{{project.description}}</p>
                                </div>
                                <div class="card-action">
                                    <!--
                                <button class="col-8 col-sm-8 col-md-8 col-lg-8 waves-effect waves-light btn" red lighten-2 href="#">Modificar</button>
                                -->
                                    <button red class="col-4 col-sm-4 col-md-4 col-lg-4 waves-effect waves-light btn" (click)="deleteProject(project)">Borar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="! projects?.length">
                        <div class="project-card card horizontal row">
                            <div class="card-stacked col-sm-12 col-md-9 col-lg-8">
                                <div class="card-content">
                                    <span class="card-title">No tens cap projecte :(</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large " (click)="createProject()">
                <i class="large material-icons">add</i>
            </a>
        </div>

    </mat-tab>
</mat-tab-group>