/* You can add global styles to this file, and also import other style files */
.container-fluid {
    padding: 0 0 !important;
    min-height: 100vh;
}
.navbar-default {
    background-color: transparent;
}

.home-head-box {
    background-color: #444b4b;
    height: 400px;
}

.home-circle {
    height: 200px;
    width: 200px;
}

.home-body{
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-box{
    margin-top: 20px;
}

.relleno-sm{
    height: 150px;
}

footer {
    height: 50px;
    background-color: red;
    width:100%;
}