<div class="container">
    <div class="newForum-card card offset-sm-1 offset-md-1 offset-lg-1 col-12 col-sm-10 col-md-10 col-lg-10">
        <div class="spanner">
            <span class="card-title white-text">Card Title</span>
        </div>
        <div class="card-content">
            <div>
                <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <input id="title" type="text" class="validate">
                    <label for="title" [(ngModel)]="title">Titol:</label>
                </div>
                <div class="input-field col-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea id="description" type="text" class="validate">
                    <label for="description" [(ngModel)]="description">Descripció:</label>
                </div>
                <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <input id="dataBeginsVote" type="data" class="validate">
                    <label for="dataBeginsVote" [(ngModel)]="dataBeginsVote">Inici de la votació:</label>
                </div>
                <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <input id="dataEndsVote" type="data" class="validate">
                    <label for="dataEndsVote" [(ngModel)]="dataEndsVote">Inici fi de la votació:</label>
                </div>
            </div>
        </div>
    </div>
</div>