<div class="container-fluid">
    <div class="row">
        <div id="tabs-explorer" class="col-sm-12 col-md-12 col-lg-12">
            <ul class="tabs col-sm-12 col-md-12 col-lg-12">
                <li class="tab col-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="tab-links" href="#public">Publics</a>
                </li>
                <li class="tab col-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="active tab-links" href="#myForums">Meus</a>
                </li>
                <li class="tab col-4 col-sm-4 col-md-4 col-lg-4">
                    <a class="tab-links" href="#subscribedForums">Subscrits</a>
                </li>
            </ul>
        </div>
    </div>
</div>