<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Explorar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">NiIdea</a>
            </li>
        </ul>
        <div *ngIf="logged == false">
            <button class="btn btn-outline-success my-2" routerLink="/register">Register</button>
            <button class="btn btn-link" routerLink="/login">Login</button>
        </div>
        <div *ngIf="logged">
            <button class="btn btn-outline-danger my-2" (click)="logOut()">Sortir</button>
        </div>
    </div>
</nav>