<nav class="header-nav navbar navbar-expand-lg navbar-dark  bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" class="nav-item ">
                <a class="nav-link" routerLink="">Principal</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" routerLink="/explorer">Explorar</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" routerLink="/app">Aplicació</a>
            </li>
        </ul>
        <div *ngIf="_userService.islogged();then logged; else notLogged">

        </div>
    </div>
</nav>

<ng-template #notLogged>
    <button class="btn btn-outline-success my-2" routerLink="/register">Nou Compte</button>
    <button class="btn btn-link" routerLink="/login">Entrar</button>
</ng-template>

<ng-template  #logged>
        <button class="btn btn-link" (click)="logOut()">Sortir</button>
</ng-template>

<ng-template>
    <div class="dropdown " *ngIf="loaded">
        <button class="btn btn-link " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="user-icon" >
                <img src="{{userDetails.avatar}}" alt="" srcset="">
            </div>
            
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</ng-template>