<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="registerTitleLabel">Register:</h5>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
                <div class="form-group">
                    <label for="name">Nom:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Paco" [(ngModel)]="user.name">
                </div>
                <div class="form-group">
                    <label for="surname">Cognom:</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Barbaroja" [(ngModel)]="user.surname">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="capitan@conbarco.com" [(ngModel)]="user.email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="*********" [(ngModel)]="user.password">
                </div>
                <div class="form-group">
                    <label for="password-confirm">Contraseña:</label>
                    <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="*********" [(ngModel)]="password-confirm">
                </div>
            </form>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>