<div class="home-head-box col-sm-12">

</div>

<div class="home-body col-sm-12">
    <div class="row home-box">
        <div class="col-sm-4 offset-sm-2">
            <img src="./assets/img/bitcoin.svg" class="rounded-circle home-circle" alt="Blockchain!!!">
        </div>
        <div class="col-sm-4">
            <h4>Patatas!!!</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet tempora quo tempore quia veniam temporibus!
                Vel, doloremque rem recusandae quia soluta rerum accusamus neque necessitatibus inventore, repudiandae facilis
                maxime!
            </p>
        </div>
    </div>
    <div class="row home-box">
        <div class="col-sm-4 offset-sm-2">
            <h4>Limones!!!</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet tempora quo tempore quia veniam temporibus!
                Vel, doloremque rem recusandae quia soluta rerum accusamus neque necessitatibus inventore, repudiandae facilis
                maxime!
            </p>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <img src="./assets/img/dogo.png" class="rounded-circle home-circle" alt="Blockchain!!!">
        </div>
    </div>
    <div class="row home-box">
            <div class="col-sm-4 offset-sm-2">
                <img src="./assets/img/mother.jpg" class="rounded-circle home-circle" alt="Blockchain!!!">
            </div>
            <div class="col-sm-4">
                <h4>Tu Madre!!!</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet tempora quo tempore quia veniam temporibus!
                    Vel, doloremque rem recusandae quia soluta rerum accusamus neque necessitatibus inventore, repudiandae facilis
                    maxime!
                </p>
            </div>
        </div>
</div>