<div class="container">
    <div id="public" class="all-forums row">
        <div class="col-md-12">
            <div *ngFor="let forum of subscribedForums" class="row">
                <div class="forum-card card offset-sm-1 offset-md-1 offset-lg-1 col-12 col-sm-10 col-md-10 col-lg-10">
                    <div class="card-image">
                        <img class="imagen waves-effect waves-block waves-light" src="../assets/images/yellow.jpg">
                    </div>
                    <p>subscribed</p>
                    <div class="forum-content">
                        <span class="card-title activator grey-text text-darken-4">{{forum.title}}
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <div class="card-content">
                            <p>{{forum.shortDescription}}</p>
                        </div>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{forum.title}}
                            <i class="material-icons right">close</i>
                        </span>
                        <p>{{forum.description}}</p>
                        <div class="card-action">
                            <a (click)="selectForum(forum)">Mes informació</a>
                        </div>
                    </div>
                    <div class="card-action">
                        <a (click)="selectForum(forum)">Mes informació</a>
                    </div>
                </div>
            </div>
        </div>
    </div>