<div class="container">
    <div id="newForum-card" class="card offset-sm-1 offset-md-1 offset-lg-1 col-12 col-sm-10 col-md-10 col-lg-10">
        <div id="spanner">
            <span class="card-title col-12 col-sm-12 col-md-12 col-lg-12 white-text">Aplicació</span>
        </div>
        <div class="card-content col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <a rel='nofollow' href='http://www.qrcode-generator.de' border='0' style='cursor:default'>
                        <img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fivforum.cat%2Fassets%2Fcom.IVForum.App.apk&chs=180x180&choe=UTF-8&chld=L|2'>
                    </a>
                </div>
                <p class="col-12 col-sm-6 col-md-6 col-lg-6">
                    Finalitat de la nostra aplicació es tenir una plataforma en la que un usuari pugui crear un forum d'inversió en el qual diferents
                    usuaris puguin participar amb els seus projectes i/o votar els projects que més els hi agradin. Està
                    dirigida a qualsevol que vulgui donar a coneixer les seves idees o projectes.
                </p>
                <a class="col-12 col-sm-12 col-md-12 col-lg-12" href="http://ivforum.cat/assets/com.IVForum.App.apk" waves-effect waves-light
                    btn download>
                    Descareggar aplicació
                </a>
            </div>
        </div>
    </div>
</div>