<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <img class="footer-img" src="../assets/images/puntcat.png">
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <img class="footer-img" src="../assets/images/dinahosting.jpg">
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img class="footer-img" alt="Llicència de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
          />
        </a>
        <br />Aquesta obra està subjecta a una llicència de
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Reconeixement-NoComercial-CompartirIgual 4.0 Internacional de Creative Commons</a>
      </div>
    </div>
  </div>
</footer>