<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row col-12 col-sm-12 col-md-12 col-lg-12">
        <div id="registerCard" class="card offset-sm-3 offset-md-4 offset-lg-4 col-12 col-sm-6 col-md-4 col-lg-4">
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <div class="card-content">
                    <div class="input-field form-group">
                        <input formControlName="name" id="name" type="text" class="validate" [(ngModel)]="name">
                        <label for="name">Nom:</label>
                        <div style="color:red;" *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched">
                            El nom introduït no es valid!
                        </div>
                    </div>
                    <div class="input-field form-group">
                        <input formControlName="surname" id="surname" type="text" class="validate" [(ngModel)]="surname">
                        <label for="surname">Cognom:</label>
                        <div style="color:red;" *ngIf="registerForm.controls.surname.invalid && registerForm.controls.surname.touched">
                            El congnom introduït no es valid!
                        </div>
                    </div>
                    <div class="input-field form-group">
                        <input formControlName="email" id="email" type="email" class="validate" [(ngModel)]="email">
                        <label for="email">E-mail:</label>
                        <div style="color:red;" *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched">
                            La direcció d'e-mail introduïda no es valida!
                        </div>
                    </div>
                    <div class="input-field form-group">
                        <input formControlName="password" id="password" type="password" class="validate" [(ngModel)]="password">
                        <label for="password">Contrasenya:</label>
                        <div style="color:red;" *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
                            La contrasenya introduïda no es valida!
                        </div>
                    </div>
                </div>
                <div class="card-actions col-12 col-sm-12 col-md-12 col-lg-12">
                    <button id="register-button" class="btn waves-effect waves-light offset-sm-1 offset-md-1 offset-lg-1 col-12 col-sm-10 col-md-10 col-lg-10" type="submit"
                        name="action">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>