<div class="latnav col-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a data-activates="mobile-menu" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li>
                    <a>Forums</a>
                </li>
                <li>
                    <a>Projectes</a>
                </li>
                <li>
                    <a>Usuaris</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li>
                    <a>Forums</a>
                </li>
                <li>
                    <a>Projects</a>
                </li>
                <li>
                    <a>Users</a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a>sortir</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
